@font-face {
  font-family: latoBold;
  src: url(../fonts/Lato-Bold.ttf);
}

body {
  background-color: #ecf0f0;
}

.container {
  display: flex;
  justify-content: space-between;
  font-family: latoBold;
  margin-bottom: 2em;
}

.search{
  margin-top:3em;
}

.search__input{
  width: 500px;
  border-radius: 3px;
  border: 1px solid #C5C9C9;
  padding: .8em;
  box-shadow: 3px 1px 3px #C5C9C9;
}

.search__svg{
  position: relative;
  left: -35px;
  top: 10px;
}

.faturamento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
  margin-right: 11em;
}

.faturamento__input{
  text-align: right;
  width: 350px;
  border-radius: 3px;
  border: 1px solid #C5C9C9;
  padding: .8em;
  box-shadow: 3px 1px 3px #C5C9C9;
}

.label {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: lighter;
  color: black;
}


ul, li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  font-size: 20px;
  padding-left: 0;
  background-color: white;
  border: 1px solid #C5C9C9;
  border-radius: 3px;
  box-shadow: 3px 1px 3px #C5C9C9;
}

li {
  display: flex;
  justify-content: space-between;
  border-top:1px solid #C5C9C9;
  padding: 10px;
}

.red{
  color:red
}

